.title{
    font-size: 8rem;
}

.subtitle{
    font-size: 6rem;
}

.icon{
    font-size: 3rem;
    transition: transform .5s ease;
}

.icon:hover{
    transform: translateY(-10px);
}


.projects-container{
    background: rgb(129,8,184);
    background-image: linear-gradient(6deg, rgba(129,8,184,1) 0%, rgba(21,231,112,1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}