.title{
    font-size: 8rem;
}

.subtitle{
    font-size: 6rem;
}

.icon{
    font-size: 3rem;
    transition: transform .5s ease;
}

.icon:hover{
    transform: translateY(-10px);
    color: red;
}